/** General layout **/

::-webkit-scrollbar{
  width: 4px;
  height: 12px;
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.31);
}

::-webkit-scrollbar-thumb{
  background: white;
}

*{
  -webkit-user-select: none;
}

body{
  font-size: 100%;
  background-color: #14181f;
}

/** Header and sidebar **/
header{
  font-size: 75%;
}

.menu{
  background-color: #1f2532; }

.dummy-logo{
  background-color: #1f2532; }

.dummy-heading{
  color: #b9b9b9; }

.SB-sidemenu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SB-sidemenu li:hover {
  background-color: rgb(43, 51, 70);
}

.SB-sidemenu li.active {
  background-color: rgba(105, 105, 146, 0.64);
}

.SB-sidemenu li a{
  display: block;
  padding: 10px;
  padding-left: 50px;
}

.SB-sidemenu-categories{
  top:250px;
}

/** Main Content **/
.inner-content{
  padding: 20px;
}
