::-webkit-scrollbar{
  width: 4px;
  height: 12px;
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.31);
}

::-webkit-scrollbar-thumb{
  background: white;
}

body{
  font-family: 'Open Sans', Helvetica Neue ,Helvetica, Arial, sans-serif;

  padding: 0;
  margin: 0;

  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #1B2838;
  color: white;

  color: #eee;
  background-color: #1f1f1f;
  overflow-x: hidden;
}

#header{
  background: #171a21;
  background: rgba(23, 26, 33, 0.45);
  background-position: center top;
  min-width: 940px;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-size: 14px;
}

.header-content{
  position: relative;
  width: 940px;
  height: 100px;
  margin: 0px auto;
  z-index: 402;
}

.header-content .logo{
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}

.header-content .supernav_container{
  position: absolute;
  left: 200px;
}

.header-content .supernav_container .menuitem{
  display: block;
  position: relative;
  padding-top: 40px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  line-height: 16px;
  float: left;
  font-size: 14px;
  color: #b8b6b4;
  text-transform: uppercase;

  text-decoration: none;
  cursor: pointer;
}

.header-content .supernav_container .menuitem:hover {
  color: #ffffff;
  text-decoration: none;
}

.steam-backlog-container{
  width: 970px;
}

.container{
  /*background-image: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/203160/716f4289fa8eb7cd5772c432671c60db2e00cfac.jpg'); */
}


/*****************************
/****  User info area
/*****************************/

  #user-info{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 300px;
  }


/*****************************
/****  Game list and game card
/*****************************/

.games-list{
  padding: 0;
  padding-top: 400px;
}

.games-list.cards .game-card{
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  width: 205px;
  margin: 17px 15px;
  border-radius: 0px;
  opacity: 0.8;
}

.games-list.cards .game-card:hover{
  opacity: 1;
}

.game-card .game-name {
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-card .card-second-line {
  color: #848484;
  line-height: 16px;
  margin-top: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-family: 'Lato';
}

.game-card .game-image{
  width: 205px;
  height: 77px;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.game-card:hover .game-image{
  outline: 2px solid whitesmoke;
  outline-offset: -2px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.game-card .game-image img{
  width: 100%;
}

.game-card .game-tags {
  margin-left: -3px;
  padding-top: 5px;
}

.gallery_archive_desc {
    position: absolute;
    width: 100%;
    bottom: 15px;
    z-index: 3;
    text-align: center;
    line-height: normal;
    opacity: 0;
    transform: translate3d(0,30px,0);
    -webkit-transform: translate3d(0,30px,0);
    -moz-transform: translate3d(0,30px,0);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;

    font-family: 'Lato';

}

.gallery_archive_desc .post_detail {
    color: #fff;
    margin: 0;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.gallery_archive_desc h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: initial;
}

.gallery_archive_desc h4 {
    font-size: 26px;
}

.gallery_archive_desc h4 {
    font-size: 16px;
}

.gallery_archive_desc h4 {
    font-size: 14px;
}

.game-card .some{
  position: relative;
}
.game-card .some:before {
    opacity: 0;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(50%,transparent),color-stop(56%,rgba(0,0,0,0.1)),color-stop(93%,rgba(0,0,0,0.6)),to(rgba(0,0,0,0.69)));
    background-image: -webkit-linear-gradient(transparent 0%,transparent 50%,rgba(0,0,0,0.1) 56%,rgba(0,0,0,0.6) 93%,rgba(0,0,0,0.69) 100%);
    background-image: linear-gradient(transparent 0%,transparent 50%,rgba(0,0,0,0.1) 56%,rgba(0,0,0,0.6) 93%,rgba(0,0,0,0.69) 100%);
}

.game-card:hover .some:before {
    opacity: 1;
}

.game-card:hover .gallery_archive_desc {
    opacity: 1;
    transform: translate3d(0,0px,0);
    -webkit-transform: translate3d(0,0px,0);
    -moz-transform: translate3d(0,0px,0);
}

/*****************************
/****  Filters bar
/*****************************/

.filter-bar-placeholder{
  height: 60px;
}

.filter-bar{
  position: absolute;
  top: 400px;
  left: 0;
  z-index: 9999;
  width: 100vw;
  background: #252525;
  border-top: 3px solid #1e1e1e;
  padding: 10px 0;
}

.SBfixed .filter-bar.has-details{
  position: fixed;
  top: 300px;
}

.filter-bar input{
  color: #FFF;
  background: #666;
  border: none;
  padding: 6px 30px;
  /* border-radius: 0px; */
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.filter-bar select{
  color: #FFF;
  background: #666;
  border: none;
  padding: 5px;
  padding-bottom: 6px;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  min-width: 150px;
}

.filter-bar .separator{
  display: inline-block;
  background-color: white;
  width: 1px;
  height: 13px;
  margin: 0 15px;
}

.filter-bar .tags-selector{
  display: inline-block;
  color: rgba(255, 255, 255, 0.61);
  background: #666;
  border: none;
  padding: 6px;
  /* border-radius: 0px; */
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  padding-left: 12px;
  padding-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
}

.filter-bar .filter{
  display: inline-block;
  border: 1px solid #744F4A;
  padding: 1px 6px;
  margin: 1px 2px;
  background-color: rgba(204, 204, 204, 0.15);
  color: rgba(5, 20, 29, 0.87);
  border-radius: 2px;
  color: #FFF;
  /* background: #666; */
  border: none;
  padding: 2px 15px;
  /* border-radius: 0px; */
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  cursor: pointer;
  font-size: 13px;
}

.filter.tag-active {
  text-align: left;
  padding: 2px 10px;
  font-size: 13px;
}

.filter.filter-active{
  background-color: rgba(56, 97, 65, 0.6) !important;
}
/*****************************
/****  tags
/*****************************/
.tags-container{
position: absolute;
  left: 0;
  width: 100vw;
  background: #1F1F1F;
  /* background-color: rgba(0, 0, 0, 0.9); */
  padding: 10px;
  z-index: 99999;
  text-align: center;
  overflow: hidden;
  height: 289px;
  top: 100px;
  min-height: 300px;
}

.SBfixed .tags-container.has-details{
  position: fixed;
  top: 0;
}

.tags-container span{
  display: inline-block;
  padding: 1px 5px;
  color: white;
  background-color: #343434;
  margin: 3px 3px;
  border-radius: 2px;
}

.tags-container .faded{
  opacity: 0.3;
}

.tag-active {
  background-color: rgba(56, 97, 65, 0.6) !important;
}

.warning{
  text-align: center;
  padding: 10px;
  background: rgba(41, 32, 32, 0.76);
  width: 80%;
  margin: 5px auto;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  margin-top: 15px;
}

.warning i {
    color: rgb(255, 255, 255);
    /* font-size: 15px; */
    padding-right: 5px;
}

/*****************************
/****  game info
/*****************************/

#game-details{
  position: absolute;
  z-index: 9999;

  left: 0;
    
  width: 100vw;
  height: 300px;

  background-color: #1B2838;
  background-position: center top;
  background-repeat: no-repeat;
}

.SBfixed #game-details{
  position: fixed;
  top: 0;
}

#game-details .container{
  width: 970px !important;
  padding: 20px;
}

#game-details .upper{
  height: 100px;
}

#game-details .lower{
  height: 200px;
  background-color: rgba(0, 0, 0, 0.29);
}

#game-details .game-name{
  font-size: 30px;
  line-height: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 440px;
  display: inline-block;
  margin-top: 41px;
}

#game-details .game-image{
  position: relative;
  display: inline-block;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

#game-details .game-image-overlay{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.51);
  text-align: center;
  line-height: 90px;
  color: white;
  transition: all 0.2s ease-in-out;
}

#game-details .game-image:hover .game-image-overlay{
  opacity: 1;
}

#game-details .game-updated{
color: #A7A7A7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
}

#game-details .game-tags{

}

#game-details .game-tags span{
  display: inline-block;
  padding: 1px 5px;
  color: white;
  background-color: rgba(52, 52, 52, 0.72);
  margin: 3px 3px;
  /* border-radius: 0px; */
  border-bottom: 1px dashed rgba(204, 204, 204, 0.25);
  cursor: pointer;

  max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#game-details .game-features{
  margin-top: -10px;
}

#game-details .game-features div {
  font-size: 18px;
  margin: 0 2px;
  /* line-height: 50px; */
  display: inline-block;
  border: 1px solid #744F4A;
  padding: 1px 6px;
  margin: 10px 2px;
  background-color: rgba(204, 204, 204, 0.15);
  color: rgba(5, 20, 29, 0.87);
  border-radius: 2px;
  color: #FFF;
  /* background: #666; */
  border: none;
  padding: 2px 10px;
  /* border-radius: 0px; */
  /* outline: 1px solid rgba(255, 255, 255, 0.15); */
  outline-offset: -1px;
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36); */
  cursor: pointer;
  font-size: 14px;
}

#game-details .game-features div.not-available {
  opacity: 0.4;
}

#game-details .game-scores {
  margin-top: -52px;
  line-height: 37px;
}

#game-details .game-scores .game-steamscore {
    margin-left: 10px;
  }

/*****************************
/****  NPROGRESS
/*****************************/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*****************************
/****  codrops tooltip
/*****************************/

.tooltip {
  display: inline;
  position: relative;
  z-index: 999;
  opacity: 1;
}

/* Trigger text */

.tooltip-item {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 10px;
}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 160px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  /*
  font-size: 0.765em;
  line-height: 1.4;
  */
  font-family: 'Open Sans';

  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;

  text-align: center;
  padding: 6px 0;
  font-size: 13px;
  margin: 0 0 20px -80px;

  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content img {
  position: relative;
  height: 170px;
  display: block;
  float: left;
  margin-right: 1em;
}

.tooltip-text {
  font-size: 0.68em;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}

.tooltip-text a {
  font-weight: bold;
}