.bg-overlay{
      width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    background-color: #1B2838;

    background-position: center top;
    background-repeat: no-repeat;
}

/*****************************
/**  User info area
/*****************************/

  #user-info{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 200px;
  }


/*****************************
/**  Game list and game card
/*****************************/

.games-list{
  /*
  position: relative;
  padding: 0;
  padding-top: 300px;
  */
}

.games-list.cards .game-card{
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  width: 205px;
  margin: 17px 15px;
  border-radius: 0px;
  opacity: 0.7;
}

.games-list.cards .bookmark{
  position: absolute;
  left: 0;
  color: #999;
  margin-top: -10px;
  margin-left: -40px;
}

.games-list.cards .game-card:hover{
  opacity: 1;
}

.game-card .game-name {
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-card .card-second-line {
  color: #848484;
  line-height: 16px;
  margin-top: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* font-family: 'Lato'; */
  font-size: 13px;
}

.game-card .game-image{
  width: 205px;
  height: 77px;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.game-card:hover .game-image{
  /*
  outline: 2px solid whitesmoke !important;
  outline-offset: -2px;
  */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.game-card .game-image img{
  width: 100%;
}

.game-card .game-tags {
  margin-left: -3px;
  padding-top: 5px;
}

/*****************************
/**  Filters bar
/*****************************/

.SB-filter-bar{
  position: fixed !important;
  top: 0;
  z-index: 999;
  position: fixed !important;
  top: 0;
  z-index: 999;
  width: calc(100vw - 304px);
  padding: 10px;
  background-color: rgba(9, 11, 14, 0.7);
  background-color: rgba(9, 11, 14, 1);
  border-bottom: 1px solid rgba(245, 245, 245, 0.10);

  transition: background-color 0.5s, height 0.5s;
}

.SB-filter-bar:hover{
  background-color: rgba(9, 11, 14, 1); }

.SB-filter-bar.secondary-bar {
  height: 0;
  top: 45px;
  background-color: #262c38;
  overflow: hidden;
  padding: 0;
}

.SB-filter-bar.secondary-bar.show {
  height: auto;
  padding: 10px;
}

.SB-filter-bar-search{
  display: inline-block;
}

.SB-filter-bar-expand{
  display: inline-block;
  cursor: pointer;
  font-size: 21px;
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 30px;
  text-align: center;
  border-radius: 3px;
}

.SB-filter-bar-expand:hover{
  background-color: rgba(47, 58, 74, 0.85); }

.SB-filter-bar .fa-search{
  margin-left: 10px;
  opacity: 0.4;
  font-size: 12px;
}

.SB-filter-bar .fa-sort{
  margin-left: 12px;
  margin-right: 8px;
  opacity: 0.4;
  font-size: 12px;
}

.SB-filter-bar input{
  color: rgba(245, 245, 245, 0.6);
  margin-left: 7px;
  background: transparent;

  border-radius: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border: none;

  padding: 5px;
  outline: none;
  width: 300px;
}

.SB-filter-bar input::-webkit-input-placeholder{
  color: rgba(245, 245, 245, 0.3);
}

.SB-filter-bar select{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  /* background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); */
  /* background-position: 97% center; */
  border: none;
  border-bottom: 1px solid #1d222b;
  color: #555;
  /* font-size: inherit; */
  /* margin: 20px; */
  overflow: hidden;
  padding: 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  width: 150px;
  /* color: #fff; */
  /* background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126); */
  background-color: #14181f;
  /* -webkit-border-radius: 20px; */
  -moz-border-radius: 20px;
  /* border-radius: 20px; */
  /* padding-left: 15px; */
  outline: none;
}

.SB-filter-bar .separator{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 20px;
  margin: -5px 15px;
}

.SB-filter-bar-layout{
  display: inline-block;
  float: right;
  margin-right: 50px;

  margin-left: 10px;
  opacity: 0.4;
  font-size: 14px;
}

.SB-filter-bar-layout span {
  padding: 0 2px;
}

.SB-filter-bar-layout span i {
  font-size: 19px;
}

.SB-filter-bar-sort{
  display: inline-block;
}

.SB-games-count{
  /* position: absolute; */
  /* right: 60px; */
  /* top: 8px; */
  color: #9d9fa0;
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.68);
  z-index: 1000;
  float: right;
  margin-right: 50px;
}

/*****************************
/**  tags
/*****************************/

.SB-filter-bar-types{
  display: inline-block; }

.SB-filter-bar-types .filter-active{
  background-color: rgb(31, 56, 12);
  color: rgba(255, 255, 255, 0.71);
  box-shadow: 0px 0px 3px rgba(160, 160, 160, 0.18) inset;
}

.tags-container{
    position: absolute;
    left: 0;
    width: calc(100vw - 5px);
    background: #1F1F1F;
    /* background-color: rgba(0, 0, 0, 0.9); */
    padding: 10px;
    z-index: 9999;
    text-align: center;
    overflow-y: scroll;
    height: 200px;
    top: 100px;
}

.tags-container span{
  display: inline-block;
  padding: 1px 5px;
  color: white;
  background-color: #343434;
  margin: 3px 3px;
  border-radius: 2px;
  font-size: 13px;
    cursor: pointer;
}

.tags-container .faded{
  opacity: 0.3;
}

.tag-active {
  background-color: rgba(56, 97, 65, 0.6) !important;
}

.warning{
  text-align: center;
  padding: 10px;
  background: rgba(41, 32, 32, 0.76);
  width: 80%;
  margin: 5px auto;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  margin-top: 15px;
}

.warning i {
    color: rgb(255, 255, 255);
    /* font-size: 15px; */
    padding-right: 5px;
}

.scan-alert{
    text-align: right;
    font-size: 9px;
    color: #808080;
    display: block;
}

.scan-alert i{
  font-size: 10px;
  color: black;
  margin-left: 2px;
}

/*****************************
/****  game info
/*****************************/

#SB-game-card{
  display: none;
  position: absolute;
  top: 0;
  left: calc(50% - (750px/2) - 150px);
  width: 750px;
  height: auto;
  background-color: white;
  z-index: 99999;
}

#game-details{
  position: absolute;
  z-index: 9999;

  left: 0;

  width: 100vw;
  height: 200px;

  background-color: #1B2838;
  background-position: center top;
  background-repeat: no-repeat;
}

.SBfixed #game-details{
  position: fixed;
  top: 0;
}

#game-details .container{
  position: relative;
  width: 970px !important;
  padding: 20px;
}

#game-details .upper{
  height: 75px;
}

#game-details .lower{
  height: 125px;
  background-color: rgba(0, 0, 0, 0.29);
}

#game-details .game-name{
  font-size: 30px;
  line-height: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 360px;
  display: inline-block;
  margin-top: 13px;
}

#game-details .game-image{
  position: relative;
  display: inline-block;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

#game-details .game-image-overlay{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.51);
  text-align: center;
  line-height: 90px;
  color: white;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
}

#game-details .game-image:hover .game-image-overlay{
  opacity: 1;
}

#game-details .game-updated{
color: #A7A7A7;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
}

#game-details .game-tags{

}

#game-details .game-tags span{
  display: inline-block;
  padding: 1px 5px;
  color: white;
  background-color: rgba(52, 52, 52, 0.72);
  margin: 3px 3px;
  /* border-radius: 0px; */
  border-bottom: 1px dashed rgba(204, 204, 204, 0.25);
  cursor: pointer;

  max-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#game-details .game-features{
  margin-top: 0;
}

#game-details .game-features div {
  font-size: 18px;
  /* line-height: 50px; */
  display: inline-block;
  /* border: 1px solid #744F4A; */
  padding: 1px 6px;
  margin: 10px 3px;
  /* background-color: rgba(204, 204, 204, 0.15); */
  /* color: rgba(5, 20, 29, 0.87); */
  /* border-radius: 2px; */
  color: #FFF;
  /* background: #666; */
  /* border: none; */
  /* padding: 2px 10px; */
  /* border-radius: 0px; */
  /* outline: 1px solid rgba(255, 255, 255, 0.15); */
  /* outline-offset: -1px; */
  /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36); */
  /* cursor: pointer; */
  font-size: 14px;
}

#game-details .game-features div.not-available {
  opacity: 0.4;
}

#game-details .game-scores {
  margin-top: -20px;
  line-height: 37px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  padding-left: 250px;
}

#game-details .game-scores .game-metascore {
    margin-right: 10px;
  }

#game-details .btn-store{
margin-left: 252px; */
    font-size: 18px;
    margin: 0 2px;
    /* line-height: 50px; */
    display: inline-block;
    border: 1px solid #744F4A;
    padding: 1px 6px;
    /* margin: 10px 2px; */
    background-color: rgba(204, 204, 204, 0.15);
    /* color: rgba(5, 20, 29, 0.87); */
    border-radius: 2px;
    /* color: #FFF; */
    /* background: #666; */
    border: none;
    padding: 1px 10px;
    /* border-radius: 0px; */
    /* outline: 1px solid rgba(255, 255, 255, 0.15); */
    outline-offset: -1px;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36); */
    cursor: pointer;
    font-size: 13px;
    color: #7CA7F9;
    /* margin-left: 200px; */
    /* position: absolute; */
    /* top: 115px; */
    /* float: left; */
    /* margin-left: 250px; */
    text-decoration: none;
    line-height: 19px;
}

#game-details .btn-refresh{
    font-size: 15px;
    /* margin: 0 2px; */
    /* line-height: 50px; */
    display: inline-block;
    border: 1px solid #744F4A;
    padding: 1px 6px;
    /* margin: 10px 2px; */
    background-color: rgba(204, 204, 204, 0.15);
    /* color: rgba(5, 20, 29, 0.87); */
    border-radius: 2px;
    /* color: #FFF; */
    /* background: #666; */
    border: none;
    padding: 1px 8px;
    /* border-radius: 0px; */
    /* outline: 1px solid rgba(255, 255, 255, 0.15); */
    outline-offset: -1px;
    /* box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36); */
    cursor: pointer;
    /* font-size: 14px; */
    color: #7CA7F9;
    margin-left: 5px;
    /* position: absolute; */
    /* top: 115px; */
    /* float: left; */
    /* margin-left: 250px; */
    text-decoration: none;
}

#game-details .game-status{
text-align: right;
  position: absolute;
  right: 15px;
  margin-top: 0px;
  top: 5px;
}

.game-status div {
  display: inline-block;
  margin: 2px 2px;
  color: #FFF;
  font-size: 14px;
  margin-bottom: 15px;
  color: #7CA7F9;
}

.game-status h5 {
  text-align: left;
  margin: 2px;
  font-size: 15px;
  padding-bottom: 2px;
}

.game-status i {
  font-size: 15px;
  display: inline-block;
  background-color: rgba(204, 204, 204, 0.15);
  border-radius: 2px !important;
  padding: 1px 8px;
  cursor: pointer;
  margin-left: 0px;
  opacity: 0.3;

  min-width: 30px;
  text-align: center;
}

.game-status div.active i{
  opacity: 1;
}

.game-status .btn-a.active{
  background-color: rgb(44, 25, 25) !important;
  color: #CECECE !important;
  opacity: 0.8;
}

.game-status .btn-c.active{
  background-color: rgba(50, 80, 22, 0.54) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}

.game-status .btn-m.active{
  background-color: rgba(84, 82, 20, 0.71) !important;
  color: rgba(224, 217, 217, 0.7) !important;
}

.game-hltb{
  display: block !important;
  color: #A7A7A7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68) !important;

  line-height: 0px !important;
  padding: 2px !important;
  margin-top: -3px !important;
}

.game-hltb a {
  color: #A7A7A7;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  text-decoration: none;
}

.game-hltb i {
  color: #A7A7A7;
  margin-left: 15px;
}

.game-hltb a:first-child i, .game-hltb .credit i{
  margin-left: 0;
}

.game-hltb .credit{
  display: block;
  font-size: 10px;
  color: #A7A7A7;
  font-size: 11px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  text-decoration: none;
  padding-top: 2px;
}

/*****************************
/****  progress page
/*****************************/
  .msg{
    color: #6E7174;
    padding: 10px 5px;
  }

/*****************************
/****  options page
/*****************************/

.option-title{
  margin-left: 130px !important;
}

.option-group{
  margin: 10px 0 20px 0;
}

.option-group label{
font-weight: 400;
    color: #577292;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.51);
    font-family: 'Lato';
    letter-spacing: 0.3px;
    font-size: 15px;
}

.option-group [type='checkbox']{
  opacity: 0.7;
}

.option-group p{
  padding-left: 20px;
}

.option-group .tooltip {
  font-family: "Open Sans";
  font-size: inherit;
  background-color: rgb(10, 15, 21);
  border-bottom: 1px dashed rgba(255, 255, 255, 0.24);
  border-radius: 0px;
  padding: 1px 5px;
  cursor: pointer;

  margin: 1px 2px;
  background-color: rgba(204, 204, 204, 0.06);
  border-radius: 2px;
  /* color: #FFF; */
  padding: 2px 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  font-size: 11px;
}

span.note {
    font-style: italic;
    color: #636363;
}
/*****************************
/****  NPROGRESS
/*****************************/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*****************************
/****  codrops tooltip
/*****************************/

.tooltip {
  display: inline;
  position: relative;
  z-index: 9999;
  opacity: 1;
}

/* Trigger text */

.tooltip-item {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 10px;
}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 160px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  /*
    font-size: 0.765em;
    line-height: 1.4;
  */
  font-family: 'Open Sans';

  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;

  text-align: center;
  padding: 6px;
  font-size: 13px;
  margin: 0 0 20px -80px;

  outline: 1px solid rgba(25, 17, 17, 0.54);
  /* font-weight: bold; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);

  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content img {
  position: relative;
  height: 170px;
  display: block;
  float: left;
  margin-right: 1em;
}

.tooltip-text {
  font-size: 0.68em;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}

.tooltip-text a {
  font-weight: bold;
}
