body{
  padding: 0;
  margin: 0;
}

#header{
  background: #171a21;
  background-position: center top;
  min-width: 940px;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-size: 14px;
}

.header-content{
  background: #171a21;
  position: relative;
  width: 940px;
  height: 104px;
  margin: 0px auto;
  z-index: 402;
}

.header-content .logo{
  float: left;
  padding-top: 30px;
  margin-right: 40px;
  width: 176px;
  height: 44px;
}

.header-content .supernav_container{
  position: absolute;
  left: 200px;
}

.header-content .supernav_container .menuitem{
  display: block;
  position: relative;
  padding-top: 40px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  line-height: 16px;
  float: left;
  font-size: 14px;
  color: #b8b6b4;
  text-transform: uppercase;

  text-decoration: none;
  cursor: pointer;
}

.header-content .supernav_container .menuitem:hover {
  color: #ffffff;
  text-decoration: none;
}

#container{
  /*background-image: url('http://cdn.akamai.steamstatic.com/steamcommunity/public/images/items/203160/716f4289fa8eb7cd5772c432671c60db2e00cfac.jpg');*/
}