/** General layout **/

::-webkit-scrollbar{
  width: 4px;
  height: 12px;
}

::-webkit-scrollbar-track{
  background: rgba(255, 255, 255, 0.31);
}

::-webkit-scrollbar-thumb{
  background: white;
}

*{
  -webkit-user-select: none;
}

body{
  font-size: 100%;
  background-color: #14181f;
}

/** Header and sidebar **/
header{
  font-size: 75%;
}

.menu{
  background-color: #1f2532; }

.dummy-logo{
  background-color: #1f2532; }

.dummy-heading{
  color: #b9b9b9; }

.SB-sidemenu ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.SB-sidemenu li:hover {
  background-color: rgb(43, 51, 70);
}

.SB-sidemenu li.active {
  /* background-color: rgb(43, 51, 70); */
}

.SB-sidemenu li a{
  display: block;
  padding: 10px;
  padding-left: 50px;
}

.SB-sidemenu-categories{
  top:250px;
}

.SB-sidemenu-user-card{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: auto;
}

.SB-user-card-container{
  display: block;
  background-color: #14181f;
  margin: 15px;
  padding: 5px;
  border-radius: 5px;
  height: 60px;
}

.SB-sidemenu-user-card img{
  width: 50px;
  float: left;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.71);
  margin-right: 10px;
}

.SB-sidemenu-user-card .user-name{
  display: block;
  font-weight: 400;
  font-size: 18px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.52);
}

.SB-sidemenu-user-card .backlink{
  font-size: 0.55em;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 35px;
  color: #636363;
}

#SB-backdrop{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  width: 100vw;
  height: 100vh;
}

#SB-backdrop.show{
  display: block;
}

/******************/
/** Main Content
/******************/

.inner-content{
  padding: 20px;
}

.inner-content.has-filter-bar{
  margin-top: 40px;
}

.inner-content.has-secondary-bar{
  margin-top: 80px;
}

/*****************************
/****  NPROGRESS
/*****************************/

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*****************************
/****  codrops tooltip
/*****************************/

.tooltip {
  display: inline;
  position: relative;
  z-index: 9999;
  opacity: 1;
}

/* Trigger text */

.tooltip-item {
  background: rgba(0,0,0,0.3);
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0 10px;
}

/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 160px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 50%;
  text-align: left;

  font-family: inherit;

  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;

  text-align: center;
  padding: 6px;
  font-size: 13px;
  margin: 0 0 20px -80px;

  outline: 1px solid rgba(25, 17, 17, 0.54);
  /* font-weight: bold; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);

  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;

  color: white;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

.tooltip-content img {
  position: relative;
  height: 170px;
  display: block;
  float: left;
  margin-right: 1em;
}

.tooltip-text {
  font-size: 0.68em;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}

.tooltip-text a {
  font-weight: bold;
}


/******************
/**
/****************/
.SB-btn{
  display: inline-block;
  /* background-color: #14181f; */
  /* padding: 3px 10px; */
  border-radius: 2px;
  font-size: 13px;
  /* -webkit-appearance: button; */
  /* -webkit-border-radius: 2px; */
  /* -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); */
  /* -webkit-padding-end: 20px; */
  /* -webkit-padding-start: 2px; */
  /* -webkit-user-select: none; */
  /* background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); */
  /* background-position: 97% center; */
  /* border: none; */
  border-bottom: 1px solid #1d222b;
  color: #555;
  /* font-size: inherit; */
  /* margin: 20px; */
  /* overflow: hidden; */
  padding: 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 250px; */
  /* width: 150px; */
  /* color: #fff; */
  /* background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126); */
  background-color: #14181f;
  /* -webkit-border-radius: 20px; */
  -moz-border-radius: 20px;
  /* border-radius: 20px; */
  /* padding-left: 15px; */
  outline: none;
  cursor: pointer;
  /* line-height: 0; */
}
