.bg-overlay{
      width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -10;
    background-color: #1B2838;

    background-position: center top;
    background-repeat: no-repeat;
}

/*****************************
/**  User info area
/*****************************/

  #user-info{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 200px;
  }


/*****************************
/**  Game list and game card
/*****************************/

.games-list{
  /*
  position: relative;
  padding: 0;
  padding-top: 300px;
  */
}

.games-list.cards .game-card{
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  width: 205px;
  margin: 17px 15px;
  border-radius: 0px;
  opacity: 0.7;
}

.games-list.cards .bookmark{
  position: absolute;
  left: 0;
  color: #999;
  margin-top: -10px;
  margin-left: -40px;
}

.games-list.cards .game-card:hover{
  opacity: 1;
}

.game-card .game-name {
  line-height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.game-card .card-second-line {
  color: #848484;
  line-height: 16px;
  margin-top: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  /* font-family: 'Lato'; */
  font-size: 13px;
}

.game-card .game-image{
  width: 205px;
  height: 77px;
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.game-card:hover .game-image{
  /*
  outline: 2px solid whitesmoke !important;
  outline-offset: -2px;
  */
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

.game-card .game-image img{
  width: 100%;
}

.game-card .game-tags {
  margin-left: -3px;
  padding-top: 5px;
}

.game-wishlist {
  background-color: rgb(31, 56, 12);
  position: absolute;
  z-index: 9999;
  margin-top: -18px;
  padding: 1px 6px;
  font-size: 13px;
}

/*****************************
/**  Filters bar
/*****************************/

.SB-filter-bar{
  position: fixed !important;
  top: 0;
  z-index: 999;
  position: fixed !important;
  top: 0;
  z-index: 999;
  width: calc(100vw - 304px);
  padding: 10px;
  background-color: rgba(9, 11, 14, 0.7);
  background-color: rgba(9, 11, 14, 1);
  border-bottom: 1px solid rgba(245, 245, 245, 0.10);
  min-height: 45px;
  
  transition: background-color 0.5s, height 0.5s;
}

.SB-filter-bar:hover{
  background-color: rgba(9, 11, 14, 1); }

.SB-filter-bar.secondary-bar {
  height: 0;
  top: 45px;
  background-color: #262c38;
  padding: 0;
}

.SB-filter-bar.secondary-bar.show {
  height: auto;
  padding: 10px;
}

.SB-filter-bar-search{
  display: inline-block;
}

.SB-filter-bar-expand{
  display: inline-block;
  cursor: pointer;
  font-size: 21px;
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 30px;
  text-align: center;
  border-radius: 3px;
}

.SB-filter-bar-expand:hover{
  background-color: rgba(47, 58, 74, 0.85); }

.SB-filter-bar .fa-search{
  margin-left: 10px;
  opacity: 0.4;
  font-size: 12px;
}

.SB-filter-bar .fa-sort{
  margin-left: 12px;
  margin-right: 8px;
  opacity: 0.4;
  font-size: 12px;
}

.SB-filter-bar input{
  color: rgba(245, 245, 245, 0.6);
  margin-left: 7px;
  background: transparent;

  border-radius: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border: none;

  padding: 5px;
  outline: none;
  width: 300px;
}

.SB-filter-bar input::-webkit-input-placeholder{
  color: rgba(245, 245, 245, 0.3);
}

.SB-filter-bar select{
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  /* background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5); */
  /* background-position: 97% center; */
  border: none;
  border-bottom: 1px solid #1d222b;
  color: #555;
  /* font-size: inherit; */
  /* margin: 20px; */
  overflow: hidden;
  padding: 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
  width: 150px;
  /* color: #fff; */
  /* background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126); */
  background-color: #14181f;
  /* -webkit-border-radius: 20px; */
  -moz-border-radius: 20px;
  /* border-radius: 20px; */
  /* padding-left: 15px; */
  outline: none;
}

.SB-filter-bar .separator{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  width: 1px;
  height: 20px;
  margin: -5px 15px;
}

.SB-filter-bar-layout{
  display: inline-block;
  float: right;
  margin-right: 50px;

  margin-left: 10px;
  opacity: 0.4;
  font-size: 14px;
}

.SB-filter-bar-layout span {
  padding: 0 2px;
}

.SB-filter-bar-layout span i {
  font-size: 19px;
}

.SB-filter-bar-sort{
  display: inline-block;
}

.SB-games-count{
  /* position: absolute; */
  /* right: 60px; */
  /* top: 8px; */
  color: #9d9fa0;
  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.68);
  z-index: 1000;
  float: right;
  margin-right: 50px;
}

/*****************************
/**  tags
/*****************************/

.SB-filter-bar-types{
  display: inline-block; }

.SB-filter-bar-types .filter-active{
  background-color: rgb(31, 56, 12);
  color: rgba(255, 255, 255, 0.71);
  box-shadow: 0px 0px 3px rgba(160, 160, 160, 0.18) inset;
}

.tags-container{
  display: none;
  position: fixed;
  width: calc(100vw - 5px);
  background: #1F1F1F;
  /* background-color: rgba(0, 0, 0, 0.9); */
  padding: 30px 10px;
  z-index: 99999;
  text-align: center;
  overflow-y: auto;
  height: 200px;
  /* display: none; */
  position: fixed;
  top: 95px;
  left: calc(50% - (960px/2));
  width: 960px;
  height: auto;
  /* background-color: #1B2838; */
  /* background-position: center top; */
  /* background-repeat: no-repeat; */
  z-index: 99999;
  border-radius: 4px;
  opacity: 0.2;
}

.tags-container.show{
  display: block;
}
.tags-container:hover{
  opacity: 1;
}

.tags-container span{
  display: inline-block;
  padding: 1px 5px;
  color: white;
  background-color: #343434;
  margin: 3px 3px;
  border-radius: 2px;
  font-size: 13px;
    cursor: pointer;
}

.tags-container .faded{
  opacity: 0.3;
}

.tag-active {
  background-color: rgba(56, 97, 65, 0.6) !important;
}

.warning{
  text-align: center;
  padding: 10px;
  background: rgba(41, 32, 32, 0.76);
  width: 80%;
  margin: 5px auto;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  margin-top: 15px;
}

.warning i {
    color: rgb(255, 255, 255);
    /* font-size: 15px; */
    padding-right: 5px;
}

.scan-alert{
    text-align: right;
    font-size: 9px;
    color: #808080;
    display: block;
}

.scan-alert i{
  font-size: 10px;
  color: black;
  margin-left: 2px;
}

/*****************************
/****  game info
/*****************************/

#SB-game-card{
  display: none;
  position: fixed;
  top: 95px;
  left: calc(50% - (850px/2));
  width: 850px;
  height: auto;
  background-color: #1B2838;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 99999;
  padding: 20px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
}

#SB-game-card.show{
  display: block !important;
}

#SB-game-card .row{
  margin-bottom: 20px;
  padding: 0 20px;
}

#SB-game-card .row-header{
  background: rgba(0, 0, 0, 0.26);
  padding: 17px;
  border-radius: 3px;
}

#SB-game-card .row-header .header-btns{
  float: right;
  margin-top: 2px;
}

#SB-game-card .row-header .header-btns span{
  color:  white;
}

#SB-game-card .row-body{

}

.row.row-body:after {content: "";display: block;clear: both;}

#SB-game-card .row-body > div{
  float: left;
  width: 60%;
}

#SB-game-card .row-body .body-info{
  padding-right: 20px;
}

#SB-game-card .row-body .body-image{
  width: 40%;
  background-color: rgba(0, 0, 0, 0.25);
	border-radius: 2px;
}

#SB-game-card .game-name{
  font-size: 30px;
  line-height: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.51);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 500px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#SB-game-card .game-image{
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
  margin: 10px;
}

#SB-game-card .game-image img{
  width: 100%;
  display: block;
}

#SB-game-card .game-image-overlay{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.51);
  text-align: center;
  line-height: 90px;
  color: white;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
}

#SB-game-card .game-image:hover .game-image-overlay{
  opacity: 1;
}

#SB-game-card .game-updated{
  color: #A7A7A7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  padding-top: 2px;
  font-size: 12px;
}

#SB-game-card .game-categories span{
  color: rgba(255, 255, 255, 0.65);
  margin-right: 5px;
  padding: 5px 12px;
  /*max-width: 120px;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#SB-game-card .game-scores {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  margin-bottom: 17px;
}

#SB-game-card .game-scores .game-metascore {
    margin-right: 10px;
}

#SB-game-card .game-features{
  margin-bottom: 17px;
}

#SB-game-card .game-features div {
  display: inline-block;
  padding: 1px 9px;
  color: #FFF;
  font-size: 16px;
}

#SB-game-card .game-features div.not-available {
  opacity: 0.4;
}

#SB-game-card .game-tags{

}

#SB-game-card .game-tags span{
  color: rgba(255, 255, 255, 0.65);
  margin-right: 5px;
  margin-bottom: 3px;
  padding: 2px 8px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#SB-game-card .game-categories{
  margin-top: 17px;
}

#SB-game-card .btn-refresh{
  font-size: 15px;
  display: inline-block;
  border: 1px solid #744F4A;
  padding: 1px 6px;
  background-color: rgba(204, 204, 204, 0.15);
  border-radius: 2px;
  border: none;
  padding: 1px 8px;
  outline-offset: -1px;
  cursor: pointer;
  color: #7CA7F9;
  margin-left: 5px;
  text-decoration: none;
}

#SB-game-card .game-status{
text-align: right;
  position: absolute;
  right: 15px;
  margin-top: 0px;
  top: 5px;
}

.game-status div {
  display: inline-block;
  margin: 2px 2px;
  color: #FFF;
  font-size: 14px;
  margin-bottom: 15px;
  color: #7CA7F9;
}

.game-status h5 {
  text-align: left;
  margin: 2px;
  font-size: 15px;
  padding-bottom: 2px;
}

.game-status i {
  font-size: 15px;
  display: inline-block;
  background-color: rgba(204, 204, 204, 0.15);
  border-radius: 2px !important;
  padding: 1px 8px;
  cursor: pointer;
  margin-left: 0px;
  opacity: 0.3;

  min-width: 30px;
  text-align: center;
}

.game-status div.active i{
  opacity: 1;
}

.game-hltb{
  display: block !important;
  color: #A7A7A7;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68) !important;

  padding: 0px 0px 15px 0px;
  padding: 0;

  width: 100%;
  text-align: center;
}

.game-hltb hr{
  width: 80%;
	height: 1px;
	border: none;
	background-color: rgba(255, 255, 255, 0.10);
}

.game-hltb a {
  color: #A7A7A7;
  font-size: 14px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  text-decoration: none;
}

.game-hltb i {
  color: #A7A7A7;
  margin-left: 15px;
}

.game-hltb a:first-child i, .game-hltb .credit i{
  margin-left: 0;
}

.game-hltb .credit{
  display: block;
  font-size: 10px;
  color: #A7A7A7;
  font-size: 11px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.68);
  text-decoration: none;
  padding-top: 8px;
}
