<div class="inner-content">

  <div id="SB-card">

    <div class="row">
      <h3>About this project</h3>
      <p>
        This project, called "Steam Backlog", is an attempt of providing easier and better way to browse our always growing steam libraries, and helping users discover and pick their next game.

      </p>
    </div>

<!--
    <div class="row">
      <h3>Credits and thanks</h3>
      <p>I would like to thank all the people who </p>
    </div>

    <div class="row">
      <h3>Of course, donations</h3>
      <p>Donations help the development of the project, and are a way to show your gratitude for the work. Donating is not obligatory, but a little can make a huge difference.</p>
      <p>The first donations received will be used to set up a website where users can </p>
    </div>
-->
  </div>

  <div id="SB-card">

    <div class="row">
      <h3>Changelog</h3>

      <div class="row row-update">
        <div class="pull-right text-right game-updated ng-binding" style="text-align: right;">
          Updated 09 Nov, 19:28:04
        </div>

      </div>

      <p>


      </p>
    </div>
  </div>
</div>
