<div class="SB-filter-bar">

  <div class="SB-filter-bar-search">
    <i class="fa fa-search"></i>
    <i class="ion-close-circled" ng-if="filters.string.length > 0" style="position: absolute; top: 16px; margin-left: 198px; opacity: 0.4; font-size: 14px; cursor: pointer;" ng-click="filters.string =''; searchFocus = true; search()"></i>
    <input type="text" placeholder="search your games" autofocus ng-model="filters.string" ng-change="search()" />
  </div>

  <!-- <div class="separator"></div>
  <div class="SB-filter-bar-expand" ng-init="secondary_bar = false" ng-click="secondary_bar = !secondary_bar">
    <i class="ion-android-more-vertical"></i>
  </div>
  -->

  <!--
  <div class="SB-filter-bar-layout">
    <span><i class="ion-grid"></i></span>
    <span><i class="ion-navicon-round"></i></span>
  </div>
  -->

  <div class="SB-filter-bar-layout" style="font-size: 12px;">
    <span><i class="fa ion-load-c fa-spin" style="font-size: 10px;"></i> {{ (100-(queue.length * 100) / numGames).toFixed(1) }}% <i class="ion-help-circled" style="font-size: 10px;"></i></span>
  </div>

</div>

<div class="SB-filter-bar secondary-bar show">
  <!--  ng-class="{'show': secondary_bar}" -->

  <div class="SB-games-count">{{ games.length }} games</div>
  <!-- ng-class="{'has-secondary-bar': secondary_bar}" -->

  <div class="SB-filter-bar-sort">
    <i class="fa fa-sort"></i>
    <select ng-model="filters.orderBy" ng-change="search()">
      <option selected="selected" disabled="disabled">Sort by...</option>
      <option value="-playtime_forever">Time played</option>
      <option value="-metascore">Metascore</option>
      <option value="-steamscore">Steam Score</option>
      <option value="-achievementProgress">Achievements</option>
      <option value="timeToBeat">Beating time</option>
      <!- - <option>achievement %</option> - ->
    </select>
  </div>

  <div class="separator"></div>

  <div class="SB-filter-bar-tags SB-btn" ng-click="filters.searchTags = ''; showTags = !showTags; app.backdrop = true;">
    <i class="fa fa-filter" style="margin-right: 5px;"></i> Filter by tags
  </div>

  <div class="SB-filter-bar-types" style="display: inline-block;">
    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.singlePlayer}"  ng-click="filters.singlePlayer = !filters.singlePlayer; search()" ><i class="ion-ios-person"></i>       <span class="tooltip-content clearfix">Single Player</span></div>
    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.multiPlayer}"   ng-click="filters.multiPlayer = !filters.multiPlayer; search()" ><i class="ion-ios-people"></i>        <span class="tooltip-content clearfix">Multiplayer</span></div>
    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.mmo}"           ng-click="filters.mmo = !filters.mmo; search()" ><i class="ion-earth"></i>                        <span class="tooltip-content clearfix">Mmo</span></div>

    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.coop}"          ng-click="filters.coop = !filters.coop; search()" ><i class="ion-ios-infinite"></i>                   <span class="tooltip-content clearfix">Co-op</span></div>
    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.localCoop}"     ng-click="filters.localCoop = !filters.localCoop; search()" ><i class="ion-monitor"></i>         <span class="tooltip-content clearfix">Local Co-op</span></div>

    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.controller}"    ng-click="filters.controller = !filters.controller; search()" ><i class="ion-ios-game-controller-b"></i>        <span class="tooltip-content clearfix">Controller support</span></div>
    <div class="SB-btn tooltip" ng-class="{'filter-active': filters.achievements}"  ng-click="filters.achievements = !filters.achievements; search()" ><i class="fa fa-certificate"></i><span class="tooltip-content clearfix">Achievements</span></div>
  </div>

  <div class="separator" ng-if="filters.tags.length > 0"></div>

  <div class="SB-filter-bar-types" style="display: inline-block;">
    <div ng-repeat="tag in filters.tags" class="SB-btn filter-active" ng-click="filterTag(tag)" style="margin-right: 8px;" >{{ ::tag }} <i class="ion-android-cancel" style="font-size: 12px;"></i></div>
  </div>

</div>

<div class="tags-container" ng-class="{'show': showTags}">
  <input type="text" placeholder="Search tags" ng-model="filters.searchTags" style="
    float: right;
    color: rgba(245, 245, 245, 0.6);
    margin-left: 7px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    border: none;
    padding: 5px;
    outline: none;
    width: 190px;
">
  <h2 style="
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(33, 44, 101, 0.51);
    color: #ffffff;
    /* line-height: 54px; */
    margin-top: 25px;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 3px;
"> </h2>
  <span ng-repeat="tag in allTags | orderBy: 'toString()' | filter:filters.searchTags" ng-click="filterTag(tag)" ng-class="{'faded': tags.indexOf(tag) == -1, 'tag-active': filters.tags.indexOf(tag) > -1}">
    {{ ::tag }}
  </span>
</div>

<div class="inner-content has-filter-bar has-secondary-bar">
  <!-- ng-class="{'has-secondary-bar': secondary_bar}" -->

  <div class="games-list" ng-class="(app.listStyle)?app.listStyle:'cards'">

    <div class="scan-alert">
      <p class="tooltip" ng-if="scan == true">Your library is being currently scanned <i class="fa fa-spin ion-load-c"></i><span class="tooltip-content clearfix">Single Player</span></p>
    </div>

    <div class="warning" ng-if="filters.orderBy == '-metascore'">
      <i class="fa fa-warning"></i> Some games might not appear on the list because it has no metascore or because we don't know it's score.
    </div>

    <div class="warning" ng-if="games.length == 0">
      <i class="fa fa-warning"></i> No games match the selected filters
    </div>

    <div ng-repeat="game in games | orderBy : filters.orderBy | limitTo : filters.limit track by game.appid" class="game-card" ng-click="openGameCard(game.appid)">
    <!-- <div class="bookmark" ng-if="($index%10 == 0) && $index > 0">#{{ ::$index}}</div> -->
      <div class="game-image" ng-class="{completed: game.status.completed == true, mastered: game.status.mastered == true}" ><img src="http://cdn.akamai.steamstatic.com/steam/apps/{{game.appid}}/capsule_231x87.jpg" /></div>
      <div class="game-name">{{game.name}}</div>

      <div class="game-playime card-second-line"   ng-if="filters.orderBy == '-playtime_forever'">Played {{game.playtime_forever | minutesToHours}} <span class="pull-right"><i class="fa fa-star" ng-if="game.metascore"></i> {{game.metascore}}  <i class="fa fa-steam" ng-if="game.steamscore" style="padding-left: 8px;"></i> {{game.steamscore}}</span></div>
      <div class="game-metascore card-second-line" ng-if="filters.orderBy == '-metascore'"><i class="fa fa-star"></i> {{game.metascore}}</div>
      <div class="game-steamscore card-second-line" ng-if="filters.orderBy == '-steamscore'"><i class="fa fa-steam"></i> {{game.steamscore}}, {{game.steamscoreAlt}}</div>
      <div class="game-achievements card-second-line" ng-if="filters.orderBy == '-achievementProgress'"><i class="fa fa-certificate" style="margin-right: 3px;"></i> {{game.achieved}} / {{game.achievements}} ( {{((100*game.achieved)/game.achievements).toFixed(0)}}% )</div>
      <div class="game-timetobeat card-second-line" ng-if="filters.orderBy == 'timeToBeat'">Played {{game.playtime_forever | minutesToHours}}<span class="pull-right"><i class="ion-android-time"></i> {{game.hltb.MainTtb | minutesToHours }} <i class="ion-ribbon-b" style="margin-left: 5px;"></i> {{game.hltb.ExtrasTtb | minutesToHours }}</span></div>

      <div class="game-tags card-second-line"      ng-if="filters.tags.length > 0">
        <span ng-repeat="tag in game.tags | limitTo : 5" style="display: inline-block; padding: 1px 5px; color: white; background-color: #343434; margin: 3px 3px; border-radius: 2px;">{{tag}}</span>
      </div>

    </div>
  </div>
</div>

<div id="SB-game-card" ng-class="{'show': showGameCard}" ng-controller="gameDetails" ng-if="gameDetails" style="background-image: url('http://cdn.akamai.steamstatic.com/steam/apps/{{gameDetails.appid}}/page_bg_generated_v6b.jpg');">

  <div class="game-bg" style="
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(9, 11, 15, 0.3);
      width: 100%;
      height: 100%;
      z-index: -1;
  "></div>

  <div class="row row-header">

    <div class="header-btns">
      <a href="steam://run/{{gameDetails.appid}}" class="SB-btn"><i class="ion-arrow-down-c"></i> Download</a>
      <a href="https://store.steampowered.com/app/{{gameDetails.appid}}" target="_blank" class="SB-btn"><i class="fa fa-steam"></i> Store Page</a>
    </div>
    <div class="game-name">{{gameDetails.name}}</div>
  </div>

  <div class="row row-body">
    <div class="body-info">

      <div class="game-scores">
        <div style="display: inline-block;" class="game-metascore" ng-if="gameDetails.metascore"><i class="fa fa-star"></i> {{gameDetails.metascore}} </div>
        <div style="display: inline-block;" class="game-steamscore" ng-if="gameDetails.steamscore"><i class="fa fa-steam"></i> {{gameDetails.steamscore}}, {{ gameDetails.steamscoreAlt}}</div>
        <a class="btn-store" href="http://store.steampowered.com/app/{{gameDetails.appid}}" target="_blank" style="display: none;"><i class="ion-steam"></i> Store</a>
      </div>

      <div class="game-features" ng-if="gameDetails.updated">
        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.singlePlayer}"  ><i class="ion-ios-person"></i>       <span class="tooltip-content clearfix">Single Player</span></div>
        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.multiPlayer}"   ><i class="ion-ios-people"></i>      <span class="tooltip-content clearfix">Multiplayer</span></div>
        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.mmo}"           ><i class="ion-earth"></i>        <span class="tooltip-content clearfix">Mmo</span></div>

        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.coop}"          ><i class="ion-ios-infinite"></i>   <span class="tooltip-content clearfix">Co-op</span></div>
        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.localCoop}"     ><i class="ion-monitor"></i>   <span class="tooltip-content clearfix">Local Co-op</span></div>

        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.controller}"    ><i class="ion-ios-game-controller-b"></i>    <span class="tooltip-content clearfix">Controller support</span></div>
        <div class="SB-btn tooltip" ng-class="{'not-available': !gameDetails.achievements}"  ><i class="fa fa-certificate"></i><span class="tooltip-content clearfix">Achievements</span></div>
      </div>

      <div class="game-tags">
        <span class="SB-btn" ng-class="{'tag-active': filters.tags.indexOf(tag) > -1}" ng-repeat="tag in gameDetails.tags | limitTo: 50" ng-click="filterTag(tag)">{{tag}}</span>
      </div>

    </div>

    <div class="body-image">

      <div class="game-image">
        <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{gameDetails.appid}}/header.jpg" />
      </div>

      <div class="game-hltb" ng-if="gameDetails.hltb == 'unavailable'">
        <a href="javascript:void(0);" target="_blank" class="tooltip">HLTB not available</a>
      </div>

      <div class="game-hltb" ng-if="gameDetails.hltb && (gameDetails.hltb !== 'unavailable')">
        <a href="http://howlongtobeat.com/game.php?id={{gameDetails.hltb.Id}}" target="_blank" class="tooltip"><i class="ion-android-time"></i> {{gameDetails.hltb.MainTtb | minutesToHours: 'complete' }}<span class="tooltip-content">Main story</span></a>
        <a href="http://howlongtobeat.com/game.php?id={{gameDetails.hltb.Id}}" target="_blank" class="tooltip"><i class="ion-ribbon-b"></i> {{gameDetails.hltb.ExtrasTtb | minutesToHours }}<span class="tooltip-content">Main + extras</span></a>
        <a href="http://howlongtobeat.com/game.php?id={{gameDetails.hltb.Id}}" target="_blank" class="tooltip"><i class="ion-fireball"></i> {{gameDetails.hltb.CompletionistTtb | minutesToHours }}<span class="tooltip-content">Completionist</span></a>
      </div>

      <div class="game-hltb" style="font-size: 13px !important; padding-top: 0; padding-bottom: 10px;">
        <hr />
        <span><i class="ion-android-time"></i> Played {{gameDetails.playtime_forever | minutesToHours}}</span>
        <a href="http://steamcommunity.com/stats/{{gameDetails.appid}}/achievements" target="_blank" class="tooltip" ng-if="gameDetails.achievements"><i class="ion-trophy"></i> {{gameDetails.achieved}} / {{gameDetails.achievements}} <span class="tooltip-content">Achieved {{((100*gameDetails.achieved)/gameDetails.achievements).toFixed(0)}}% </span></a>
      </div>

    </div>
  </div>

<!--
  <div class="row row-categories">
    <div>Your categories</div>
    <div class="game-categories">
      <span class="SB-btn" ng-class="{'tag-active': filters.tags.indexOf(tag) > -1}" ng-repeat="tag in gameDetails.tags | limitTo: 10" ng-click="filterTag(tag)">{{tag}}
      <i class="ion-android-checkbox-outline-blank" style="margin-left: 3px;"></i>
      </span>
    </div>
  </div>
-->

  <div class="row row-update">
    <div class="pull-right text-right game-updated" style="text-align: right;">

      <span class="btn-refresh pull-right" ng-click="refreshGameDetails();" style=" margin-top: 6px;"><i class="ion-android-refresh"></i></span>
      Updated {{gameDetails.updated | date:'dd MMM, HH:mm:ss'}}
      <br /><span class="credit" style="display: block; padding-right: 35px;"><i class="ion-ios-pulse-strong"></i> HLTB data provided by howlongtobeatsteam.com</span>
    </div>

  </div>

</div>
