<div class="row user-header" ng-if="!gameDetails">
  <div class="col-md-3">
    <img src="{{user.info.avatarfull}}" />
    <h1>{{user.info.personaname}}</h1>
    <h3>{{user.info.realname}}</h3>
  </div>
</div>

<!--
<div  style="float: left">
  <img src="{{user.info.avatarfull}}" /><br>
  <h1>{{user.info.personaname}}</h1>
  <h3>{{user.info.realname}}</h3>
  <p><a href="{{user.info.profileurl}}">Perfil</a></p>
</div>

<div style="float: right">
  <br>
  Panels: <br>
  Tiempo jugado: {{games.hoursPlayed/60}} horas<br>
  Total games (+ DLC) = {{games.length}}<br>
  Juegos: xx<br>
  achievements: xx<br>
  completed games: xx<br>
  perfect games: xx<br>
  Steam level: xxx<br>
  Barajas necesarias para subir al próximo nivel: XX / 10 niveles: xx<br>
  CTA_ launch random game
</div>

<div style="clear: both;"/></div>
-->


<div id="game-details" ng-controller="gameDetails" ng-if="gameDetails" style="background-image: url('http://cdn.akamai.steamstatic.com/steam/apps/{{gameDetails.appid}}/page_bg_generated_v6b.jpg');">

    <div class="upper">
      <div class="container">
        <div class="pull-right text-right game-updated">Updated {{gameDetails.updated | date:'dd MMM, HH:mm:ss'}}</div>
        <div class="game-image">
          <a href="steam://rungameid/{{gameDetails.appid}}" class="game-image-overlay"><i class="fa fa-play" style="font-size: 23px;"></i></a>
          <img src="http://cdn.akamai.steamstatic.com/steam/apps/{{gameDetails.appid}}/capsule_231x87.jpg" />
        </div>
        <div class="game-name">{{gameDetails.name}}</div>
      </div>
    </div>

    <div class="lower">
      <div class="container">
        <div class="pull-right game-tags">
          <span class="tag" ng-class="{'tag-active': filters.tags.indexOf(tag) > -1}" ng-repeat="tag in gameDetails.tags | limitTo: 3" ng-click="filterTag(tag)">{{tag}}</span>
        </div>

        <div class="game-metascore" ng-if="gameDetails.metascore"><i class="fa fa-star"></i> Metacritic: {{gameDetails.metascore}} </div>
        <div class="game-steamscore"><i class="fa fa-steam"></i> {{gameDetails.steamscore}}, {{gameDetails.steamscoreAlt}}</div>

        achievements: {{gameDetails.achievements}}<br>
        achieved: {{gameDetails.achieved}}<br>
        --<br>
        coop: {{gameDetails.coop}},
        multiplayer: {{gameDetails.multiPlayer}},
        singleplayer: {{gameDetails.singlePlayer}},
        controller: {{gameDetails.controller}},
        mmo: {{gameDetails.mmo}},
        localCoop: {{gameDetails.localCoop}},

      </div>
    </div>
</div>
<div class="game-details-placeholder" style="height: 300px;" ng-if="gameDetails"></div>


<div class="filter-bar">
  <div class="container" style="width: 970px;">
    <i class="fa fa-search" style=" position: absolute; top: 20px; margin-left: 10px; opacity: 0.4; font-size: 12px;"></i>
    <input type="text" placeholder="Filter by name" ng-model="filters.string" ng-change="search()" />

    <div class="separator"></div>

    <i class="fa fa-filter"       ng-if="!toggleTags" style="position: absolute; top: 20px; margin-left: 91px; opacity: 0.4; font-size: 12px;"></i>
    <i class="fa fa-minus-circle" ng-if="toggleTags"  style="position: absolute; top: 20px; margin-left: 91px; opacity: 0.4; font-size: 12px;"></i>

    <div class="tags-selector" ng-click="toggleTags = !toggleTags">Select tags</div>
    <span class="pull-right">showing 32 of {{games.length}} results</span>

    <div class="separator"></div>

    <select ng-model="filters.orderBy" ng-change="search()">
      <option selected="selected" disabled="disabled">Sort by...</option>
      <option value="-playtime_forever">Time played</option>
      <option value="-metascore">Metascore</option>
      <option value="-steamscore">Steam Score</option>
      <!-- <option>achievement %</option> -->
    </select>

    <!--

    <div class="filter-list">
      <span>Something <i class="fa fa-times"></i></span>
    </div>
    -->
  </div>
</div>

    <div class="tags-container" ng-if="toggleTags">
      <span ng-repeat="tag in allTags | orderBy: 'toString()'" ng-click="filterTag(tag)" ng-class="{'faded': tags.indexOf(tag) == -1, 'tag-active': filters.tags.indexOf(tag) > -1}">
        {{tag}}
      </span>
    </div>

<div class="filter-bar-placeholder"></div>

  <div class="warning" ng-if="filters.orderBy == '-metascore'">
    <i class="fa fa-warning"></i> Some games might not appear on the list because it has no metascore or because we don't know it's score.
  </div>

<div class="games-list" ng-class="(app.listStyle)?app.listStyle:'cards'">
  <div ng-repeat="game in games | orderBy : filters.orderBy | limitTo : 32 track by game.appid" class="game-card" ng-click="openDetails(game.appid)">
    <div class="some-nope">
      <div class="game-image"><img src="http://cdn.akamai.steamstatic.com/steam/apps/{{game.appid}}/capsule_231x87.jpg" /></div>
      <div class="game-name">{{game.name}}</div>

      <div class="game-playime card-second-line"   ng-if="filters.orderBy == '-playtime_forever'">Played {{game.playtime_forever | minutesToHours}}</div>
      <div class="game-metascore card-second-line" ng-if="filters.orderBy == '-metascore'">Metascore: {{game.metascore}}</div>
      <div class="game-metascore card-second-line" ng-if="filters.orderBy == '-steamscore'">{{game.steamscore}}, {{game.steamscoreAlt}}</div>
      <div class="game-tags card-second-line"      ng-if="filters.tags.length > 0">
        <span ng-repeat="tag in game.tags" style="display: inline-block; padding: 1px 5px; color: white; background-color: #343434; margin: 3px 3px; border-radius: 2px;">{{tag}}</span>
      </div>

      <!-- <div class="game-status card-second-line"></div> -->

      <div class="gallery_archive_desc" style="display: none;">
        <h4>{{game.name}}</h4>
        <div class="post_detail">{{game.tags | limitTo: 2}}</div>
      </div>
    </div>
  </div>
</div>


<!--
<hr>
<h2>Your tags</h2>
<span ng-repeat="tag in tags track by $index" style="display: inline-block; padding: 1px 5px; color: white; background-color: #343434; margin: 3px 3px; border-radius: 2px;">
  {{tag}}
</span>

<hr>
<h2>Completed games</h2>
-

<hr>
<h2>Currently playing</h2>
-
<hr>
<h2>Recommended tags for you</h2>
<span ng-repeat="tag in dynamic.rgRecommendedTags" style="display: inline-block; padding: 1px 5px; color: white; background-color: #343434; margin: 3px 3px; border-radius: 2px;">
  {{tag.name}}
</span>

-->
