<div class="inner-content">

  <div class="SB-card">

    <div class="row">
      <h2>Scan games</h2>

      <!--
      <div class="option-group">
        <label class="checkbox-inline">
          <input type="checkbox" id="inlineCheckbox1" value="option1"> Scan games in background
        </label>
        <p>If active, the Backlog will fetch game information from steam <span class="tooltip">every few seconds<span class="tooltip-content">Only when you are in the Backlog page</span></span> until all your library have been scanned. The game data is valid for a month before being scanned again.<br>
        <span class="note">Archived games will not be scanned, reducing the library scan time and load.</span></p>
      </div>
      -->

      <div class="option-group">
        <label class="checkbox-inline">
          Scan a game every
          <select style="margin-left: 10px;" ng-model="scan.interval" ng-change="saveSettings()">
            <option value="0">Instant</option>
            <option value="3">3 seconds</option>
            <option value="10">10 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">60 seconds</option>
          </select>
        </label>
        <p>Interval of time between every request to steam servers.<br />
          Lower values scan your whole library faster but is not recommended for slow connections.
        <span class="note">This process is stopped once all your games have been scanned.</span></p>
      </div>

    </div>
  </div>

  <div class="SB-card">

    <div class="row">
      <h2>Library</h2>

      <div class="option-group">
        <label class="checkbox-inline" style="margin-left: -5px;">
          <input type="checkbox" ng-model="library.wishlist" ng-change="saveSettings()"> Include wishlisted games in the backlog
        </label>
        <p>By adding your wishlist to the backlog database, you can easily find that game you always wanted to play. Then you will buy it and contribute to grow even more your list of shame. Fuck.
          <span class="note">
            Your wishlist will be scanned after your library has finished, and new additions are checked every three days.<br />
            <!-- <a href="#" class="SB-btn" style=" font-size: 12px; padding: 1px 8px;">But you can force wishlist a scan by clicking here</a></span> -->
        </p>

      </div>

    </div>
  </div>

  <div class="SB-card">
    <div class="row">
      <h2>Restart database</h2>
      <p>
        If you have problems with your backlog, your howlongtobeat info is not showing up, or you think that something might be wrong,
        you may want to reset your data and start the scanning process again.
        <span class="note">This process is irreversible.</span>
      </p>
      <p>
        <div class="SB-btn" style="background-color: rgba(255, 0, 0, 0.17); color: white;" ng-click="resetData()">
          Reset all data
        </div>
      </p>
    </div>
  </div>
</div>




<!--

<div class="bg-overlay"></div>
<div class="row">
  <h2 class="option-title">Steam Backlog options</h2>
  <span class="pull-right note">v 4-5-6</span>
</div>
<p class="warning"> <strong>Warning</strong>: This page is not working and the options on this page can change at any moment during the development.</p><br>
<div class="row container-boxed">
  <div class="col-md-12">
    <h4>Library options</h4>

    <div class="option-group">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Include wishlist games
      </label>
      <p>If active, the Backlog will include your <a href="http://steamcommunity.com/profiles/{{user.steamid}}/wishlist" target="_blank">wishlisted games</a> in the list. Because, fuck you.</p>
    </div>

  </div>

<hr>

  <div class="col-md-12">
    <h4>Dashboard options</h4>

    <div class="option-group">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">Show MMO tag in the filter bar
      </label>
      <p>If active, it will show the <i class="ion-earth" style="margin: 1px 2px;   background-color: rgba(204, 204, 204, 0.15);    border-radius: 2px;    color: #FFF;    padding: 2px 9px;    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);    font-size: 11px;"></i> MMO tag option in the filter bar.</p>
    </div>

    <div class="option-group">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">Include archived games in dashboard
      </label>
      <p>If active, any archived game will be included in the search results.<br>
        Disable to completely hide archived games from your dashboard.</p>
    </div>

    <div class="option-group">
      <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1">Hide DLCs from games list
      </label>
      <p>If active, any dlc will be hidden from the dashboard.</p>
    </div>

  </div>

<hr>
  <div class="col-md-12">
    <h4>Restart library</h4>
    If you have problems with your data, your hltb info is not showing up, or you think that something might be wrong,
    you may want to reset your data and start the scanning process again.
  </div>

</div>
-->
